<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="file" />
    <appender-ref ref="fileHapticsOSC" />
    <appender-ref ref="fileHapticsDotPoint" />
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="app.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>

    <!-- Prevents log from bHaptics OSC messages -->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BHaptics." />
      <acceptOnMatch value="false" />
    </filter>
    
  </appender>
  
  <appender name="fileHapticsOSC" type="log4net.Appender.RollingFileAppender">
    <file value="bhaptics.osc.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %logger - %message%newline" />
    </layout>

    <!-- This log is only for bHaptics OSC messages -->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BHaptics.OSC" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="gVRC_bHaptics" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BHaptics." />
      <acceptOnMatch value="false" />
    </filter>

  </appender>

  <appender name="fileHapticsDotPoint" type="log4net.Appender.RollingFileAppender">
    <file value="bhaptics.dotpoint.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %logger - %message%newline" />
    </layout>

    <!-- This log is only for bHaptics OSC messages -->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BHaptics.DotPoint" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="gVRC_bHaptics" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BHaptics." />
      <acceptOnMatch value="false" />
    </filter>

  </appender>
</log4net>