<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="file" />
    <appender-ref ref="fileOSC" />
    <appender-ref ref="fileHapticsOSC" />
    <appender-ref ref="fileHapticsDotPoint" />
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="${AppData}\gVRC_bHaptics\app.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>

    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="gVRC_bHaptics." />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BHaptics." />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="OSC." />
      <acceptOnMatch value="false" />
    </filter>
    
  </appender>

  <appender name="fileOSC" type="log4net.Appender.RollingFileAppender">
    <file value="${AppData}\gVRC_bHaptics\app.osc.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %logger - %message%newline" />
    </layout>

    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="OSC.App" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="gVRC_bHaptics." />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="OSC." />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BHaptics." />
      <acceptOnMatch value="false" />
    </filter>

  </appender>

  <appender name="fileHapticsOSC" type="log4net.Appender.RollingFileAppender">
    <file value="${AppData}\gVRC_bHaptics\bhaptics.osc.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %logger - %message%newline" />
    </layout>

    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="OSC.BHaptics" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="gVRC_bHaptics" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="OSC." />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BHaptics." />
      <acceptOnMatch value="false" />
    </filter>
    
  </appender>

  <appender name="fileHapticsDotPoint" type="log4net.Appender.RollingFileAppender">
    <file value="${AppData}\gVRC_bHaptics\bhaptics.dotpoint.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %logger - %message%newline" />
    </layout>

    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BHaptics.DotPoint" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="gVRC_bHaptics." />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="OSC." />
      <acceptOnMatch value="false" />
    </filter>

  </appender>
</log4net>